#historia{
    padding: 10% 8%; 
    border: 4px solid black;
    margin: 15px auto; 
    text-align: center;
    text-shadow: 0 0 40px #ffffff;
    color: rgb(0, 0, 0);
    background: url("../assets/fondo1.jpg"); 
    width: 960px;
    height: 60%;
    background-size: cover;
    filter: saturate(80%);
    background-position: center center;
 }