@media(max-width: 1300px) {
    #contenedor{
        flex-direction: column;
        height: auto;
    }
    #menu-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {font-size: 2em;
    }
    #historia{
        width:auto;        
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #icon-text a{
        display: flex;
        justify-content: center;
        padding: 1.4% 10vh;
        color: #ffffff;
    }
    #albums{
        min-height: 80vh;
    }
    #contacto{
        width: auto;
    }
    #contact-info {
        font-size: 110%;
    }
    #contact-form form label {
        font-size: 140%;
    }
    #contact-form form button {
        font-size: 140%;
    }
    #final{
        font-size: 120%;
    }
}
