@media(max-width: 1300px) {
    #contenedor{
        flex-direction: column;
        height: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}