@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("./header.css");
@import url("./historia.css");
@import url("./integrantes.css");
@import url("./albums.css");
@import url("./form.css");
@import url("./footer.css");
@import url("./mediaQ.css");
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h1{font-size: 3em;}
h2{font-size: 2.2em;}
h3{font-size: 1.5em;}
p{font-size: 1.25em;}

.cursiva{
    font-style: italic;
}
body{
    background: #b3cde4;
}
.display{
    display: none;
}